extends layout

block content
	div.fixed-action-btn.userbutton
		a.btn-floating.btn-large.red#loginbtn
			i.material-icons.med account_circle
	div.container#lost
		div
			h1.text-holder#h1lost LOST
			div.myform#form-lost
				div.row
					form.col.s12#lost-form
						div.input-field.col.s6
							select(name="aula")#lost-room
								optgroup(label="polo A")
									option(value="A105") A105
									option(value="A103") A103
								optgroup(label="polo B")
									option(value="B107") B107
									option(value="B105") b105
							label Aula
						div.input-field.col.s6
							input.datepicker(type="text",name="data")#lost-time
							label Data di smarrimento
						div.input-field.col.s9
							input(type="text",name="testo")#lost-description
							label Descrizione
						div.col.s3.submitter
							button.btn.wawes-effect.waves-light.centered-button(type="button",name="lost_submit", onclick="formHandler('lost')") search
								i.material-icons.right search
	div#line
		h1#and &
	div.container#found
		div
			h1.text-holder#h1found FOUND
			div.myform#form-found
				div.row
					form.col.s12#found-form
						div.input-field.col.s6
							select(name="aula")#found-room
								optgroup(label="polo A")
									option(value="A105") A105
									option(value="A103") A103
								optgroup(label="polo B")
									option(value="B107") B107
									option(value="B105") b105
							label Aula
						div.input-field.col.s6
							input.datepicker(type="text",name="data")#found-time
							label Data di smarrimento
						div.input-field.col.s12
							textarea.materialize-textarea(type="text",name="descrizione")#found-description
							label Descrizione
						div.col.s12.center-align
							button.btn.wawes-effect.waves-light(type="button",name="found_submit",onclick="formHandler('found')" ) submit
								i.material-icons.right send