extends layout

block content
	div.fixed-action-btn.userbutton
		a.btn-floating.btn-large.red#loginbtn
			i.material-icons.med account_circle
	div.container#lost
		div
			h1.text-holder#h1lost LOST
			div.myform#form-lost
				div.row
					form.col.s12#lost-form
						input(name="token",type="hidden",value!=token)
						div.input-field.col.s6
							select(name="room")#lost-room
								optgroup(label="polo A")
									option(value="A105") A105
									option(value="A103") A103
								optgroup(label="polo B")
									option(value="B107") B107
									option(value="B105") b105
							label Aula
						div.input-field.col.s6
							input.datepicker(type="text",name="time")#lost-time
							label Data di smarrimento
						div.input-field.col.s9
							input(type="text",name="description")#lost-description
							label Descrizione
						div.col.s3.submitter
							button.btn.wawes-effect.waves-light.centered-button(type="button",onclick="formHandler(this, 'search')") search
								i.material-icons.right search
	div#line
		h1#and &
	div.container#found
		div
			h1.text-holder#h1found FOUND
			div.myform#form-found
				div.row
					form.col.s12#found-form
						input(name="token",type="hidden",value!=token)
						div.input-field.col.s6
							select(name="room")#found-room
								optgroup(label="polo A")
									option(value="A105") A105
									option(value="A103") A103
								optgroup(label="polo B")
									option(value="B107") B107
									option(value="B105") b105
							label Aula
						div.input-field.col.s6
							input.datepicker(type="text",name="time")#found-time
							label Data di smarrimento
						div.input-field.col.s12
							textarea.materialize-textarea(type="text",name="descriprion")#found-description
							label Descrizione
						div.col.s12.center-align
							button.btn.wawes-effect.waves-light(type="button",onclick="formHandler(this, 'found')" ) submit
								i.material-icons.right send
