doctype html
html
	head
		title Lost And Found
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Quicksand')
		link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Abril+Fatface')
	body#body
		block content
	script(src='https://code.jquery.com/jquery-3.2.1.min.js')
	script(src='jsfrontend/layout.js')
