.userbutton{
	top:auto;
	bottom:40px;
	right:40px;
}

#mobile-container {
	position:fixed;
	bottom:0px;
	width: 100vw;
	background-color:blue;
	transition:all 1s;
}

.btn-larger {
    width: 170px !important;
    height: 170px !important;
}

i.med {
	font-size:10rem;
}

.btn-floating.btn-large i {
    line-height: 169px;
}


.text-holder {
	padding:18px 7%;
	font-size: 8em;

	color:#FFF;
	margin: 100px 0 50px 0;
	font-family: 'Abril Fatface', cursive;
	font-weight: 600;
}

#username {
	visibility: hidden;
}

#full-wrapper {
	transition: all 1s;
}